.paginator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.paginator button {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    padding: 8px 12px;
    margin: 0 3px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.paginator button:hover {
    background-color: #e4e4e4;
}

.paginator button:active {
    background-color: #d4d4d4;
}

.paginator button.selectedPage {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

