

.header {
    background: #fff url('../../img/481pltworzenie-stron-www.jpg')  no-repeat center;
    background-size: cover;
    grid-area: header;
    height: 400px;
    margin-bottom: 30px;
}

.loginBlock{
    float: right;
}
.loginBlock a{
    color: white;
}