.nav {
    grid-area: n;
    background-color: lightpink;
    padding: 20px;
}

.item  {
    color: black;
}
.item a {
    color: black;
    text-decoration: none;
}

.item a.active {
    color: hotpink;
}