.app-wrapper {
}

/*.app-content {*/
/*    grid-area: c;*/
/*    background-color: lightblue;*/

/*}*/

.app-container {
    /*max-width: 1200px;*/
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-around;
}

.app-content {
    max-width: 570px;
    width: 100%;
}

body {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    background-color: #F4F2F2;
    color: #8c8b8b;

}


*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

